extends ./account-layout.pug
block content 
    .vh-100.d-flex.justify-content-center.align-items-center
      .col-md-4.p-5.shadow-sm.border.rounded-3
        h2.text-center.mb-4.text-success Kayıt Ol
        form(action="/account/register" method="POST" )
          .mb-3
            label.form-label(for='inputemail') Email address
            input#inputemail.form-control.border.border-success(type='email', aria-describedby='emailHelp', name='mail')
          .mb-3
            label.form-label(for='exampleInputPassword1') &Scedil;ifre
            input#exampleInputPassword1.form-control.border.border-success(type='password', aria-describedby='passwordHelpBlock', name='pw')
          
          .mb-3
            label.form-label(for='InputName') Ad
            input#exampleInputPassword1.form-control.border.border-success(type='text', name='name')
          .mb-5
            label.form-label(for='InputSurname') Soyad
            input#exampleInputPassword1.form-control.border.border-success(type='text', name='sname')
          
          //- //- p.small
          //- //-   a.text-success(href='forget-password.html') Forgot password?
          
          .d-grid
            button.btn.btn-success(type='submit') Kayıt Ol
        .mt-3
          p.mb-0.text-center
            | Zaten bir hesabın var mı? 
            a.text-success.fw-bold(href='login')
              | Giriş
              | Yap